<h1>Earth Quake Alert Javascript Plugin</h1>
<p>下記のコードを、あなたのサイトの&lt;head&gt;タグ内に埋め込んでください。</p>
<blockquote>
	<p>
		&lt;script type="text/javascript" src="http://www2133u.sakura.ne.jp:3333/javascripts/quake_alert.js" charset="utf-8"&gt;&lt;/script&gt;
	</p>
</blockquote>
<p style="color:#555;margin-top:40px;"><strong>処理イメージ</strong></p>
<p>
@clbot_eew -- (twitter user stream) --> nodejs -- (socket.io push) --> your browser.

</p>

<p>thanks for <a href="http://twitter.com/#!/clbot_eew" target="_blank">@clbot_eew</a>.</p>
