<!DOCTYPE html>
<html>
  <head>
    <title>Earth Quake Alert Javascript Plugin</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<script type="text/javascript" src="http://www2133u.sakura.ne.jp:3333/javascripts/quake_alert.js" charset="utf-8"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
